/* STANDARD STYLES */

body {
	background: #e9e4de;
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: 'MuseoSlab500';
	src: url("../../../library/fonts/Museo_Slab_500-webfont.eot");
	src: url("../../../library/fonts/Museo_Slab_500-webfont.eot?#iefix") format("embedded-opentype"), url("../../../library/fonts/Museo_Slab_500-webfont.woff") format("woff"), url("../../../library/fonts/Museo_Slab_500-webfont.ttf") format("truetype"), url("../../../library/fonts/Museo_Slab_500-webfont.svg#MuseoSlab500Regular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSlab500';
	src: url("../../../library/fonts/Museo_Slab_500italic-webfont.eot");
	src: url("../../../library/fonts/Museo_Slab_500italic-webfont.eot?#iefix") format("embedded-opentype"), url("../../../library/fonts/Museo_Slab_500italic-webfont.woff") format("woff"), url("../../../library/fonts/Museo_Slab_500italic-webfont.ttf") format("truetype"), url("../../../library/fonts/Museo_Slab_500italic-webfont.svg#MuseoSlab500Italic") format("svg");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'MuseoSlab500';
	src: url("../../../library/fonts/Museo_Slab_500-webfont.eot");
	src: url("../../../library/fonts/Museo_Slab_500-webfont.eot?#iefix") format("embedded-opentype"), url("../../../library/fonts/Museo_Slab_500-webfont.woff") format("woff"), url("../../../library/fonts/Museo_Slab_500-webfont.ttf") format("truetype"), url("../../../library/fonts/Museo_Slab_500-webfont.svg#MuseoSlab500Regular") format("svg");
	font-weight: bold;
	font-style: normal;
}


.interactive-wrapper {
	width: 963px;
	overflow: hidden;
	background: #fff;
	border-radius: 3px;
	border: 1px #d1cdc2 solid;
}


.instructions {
	color: #656565;
	float: right;
	width: 265px;
}

.instructions h2 {
	padding: 20px 20px 15px;
	margin: 0 0 0.8em;
	border-bottom: 1px #d1cdc2 solid;
	font: normal 1em 'MuseoSlab500', Helvetica, Sans-serif;
}

.instructions div {
	padding: 0 20px;
}

.instructions p {
	font: normal 0.95em/1.5 'MuseoSlab500', Helvetica, Sans-serif;
	margin: 0 0 1.5em;
}


/* CONTROL BUTTONS */
.buttons {
	list-style: none;
	margin:0 0 1.5em;
	padding:0;
	font-family: 'MuseoSlab500', Helvetica, Sans-serif;
}

.buttons a {
	border: 1px #ece8e3 solid;
	display: block;
	margin-top:10px;
	padding-left:49px;
	color: #666;
	text-decoration:none;
	border-radius:3px;
}
.buttons a span {
	display: block;
	background: #fff;
	padding:15px 10px;
	width: auto;
	height: auto;
	float: none;
		
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: width .2s ease-in-out;
	-o-transition: width .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.buttons a:hover span {
	background:#f4f0ed;
}
.buttons a.play {
	background: #6ac071 url('../images/controls.png') no-repeat 15px 50%;
}
.buttons a.pause {
	background: #57cbf5 url('../images/controls.png') no-repeat 15px 0;
}

.buttons a.disabled {
	opacity: 0.5;
	cursor: default;
	background-color: #ece8e3;
	color: #d1cdc2;
}
.buttons a.disabled:hover span {
	background-color: #fff;
}



/* INTERACTIVE-SPECIFIC STYLES */
.interactive {
	background: #f4f0ed;
	padding: 0;
	list-style: none;
	width: 697px;
	float: left;
	border-right: 1px #d1cdc2 solid;
	position: relative;
}

span {
	background: url('../images/track-thread.png') repeat-x 0 50%;
	width: 15px;
	height: 21px;
	float: left;
	padding: 9px 0 9px;
	cursor: pointer;
}

span.col-0 {
	width: 22px;
}

span:hover {
	background: url('../images/add-indicator.png') no-repeat 50% 50%;
}

.active, span.active:hover {
	background-color: #dad3cb;
}

span span {
	height: 21px;
	float: none;
	padding: 0;
	display: block;
}

.row-0, .row-9, .row-0:hover, .row-9:hover {
	background-image: none;
	height: 0px;
	padding: 12px 0;
}

.row-1.selected span, .row-5.selected span { background: #f17169; }
.row-1.selected.active span, .row-5.selected.active span { background: #d8bab1; }

.row-2.selected span, .row-6.selected span { background: #fcb040; }
.row-2.selected.active span, .row-6.selected.active span { background: #dac6a9; }

.row-3.selected span, .row-7.selected span { background: #57cbf5; }
.row-3.selected.active span, .row-7.selected.active span { background: #b9cccd; }

.row-4.selected span, .row-8.selected span { background: #6ac071; }
.row-4.selected.active span, .row-8.selected.active span { background: #bdcab3; }

.col-5, .col-10, .col-15, .col-20, .col-25, .col-30, .col-35, .col-40,
.col-5:hover, .col-10:hover, .col-15:hover, .col-20:hover, .col-25:hover, .col-30:hover, .col-35:hover, .col-40:hover {
	background-color:#eae2dc;
}

.col-5.active, .col-10.active, .col-15.active, .col-20.active, .col-25.active, .col-30.active, .col-35.active, .col-40.active {
	background-color:#dad3cb;
}

.col-0.row-1 { background: url('../images/row-0-cap.png') no-repeat 0 50%; }
.col-0.row-2 { background: url('../images/row-1-cap.png') no-repeat 0 50%; }
.col-0.row-3 { background: url('../images/row-2-cap.png') no-repeat 0 50%; }
.col-0.row-4 { background: url('../images/row-3-cap.png') no-repeat 0 50%; }
.col-0.row-5 { background: url('../images/row-4-cap.png') no-repeat 0 50%; }
.col-0.row-6 { background: url('../images/row-5-cap.png') no-repeat 0 50%; }
.col-0.row-7 { background: url('../images/row-6-cap.png') no-repeat 0 50%; }
.col-0.row-8 { background: url('../images/row-7-cap.png') no-repeat 0 50%; }


/* MESSAGE */
.message-overlay {
	background:#f4f0ed url('../images/disabled-bg.png') no-repeat 0 0;
	background-color:#f4f0ed;
	width:100%;
	height:100%;
	z-index: 10;
	position: absolute;
	opacity: 0.65;
	display: none;
}
.message {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 20;
	background: #fff;
	border: 1px #d1cdc2 solid;
	box-shadow: 0 0 5px #d1cdc2;
	color: #656565;
	margin: -92px 0 0 -209px;
	height: 110px;
	width: 400px;
	padding: 30px 10px 20px;
	text-align: center;
	display: none;
}

.message h3 {
	margin: 0 0 0.5em;
	font: normal 1.625em 'MuseoSlab500', Helvetica, Sans-serif
}

.message p {
	margin: 0 0 0.5em;
	font: normal 0.95em/1.5 'MuseoSlab500', Helvetica, Sans-serif;
}

.message p strong {
	color: #f2675e;
	font-weight: normal;
}

.complete .message {
	display: block;
}


